---
import { listFileNames, s3File } from "@lib/s3";
const files = await listFileNames("projects/jpeg-degrader/results");
const gifs = files.filter((file) => file?.endsWith(".gif"));
const jpegs = files.filter((file) => file?.match(/\.jpe?g$/i));
---

<div class="flex flex-col items-center">
  {jpegs.map((img) => {
    return <img src={s3File(img)} />
  })}
  
  {gifs.map((img) => {
    return <img src={s3File(img)} />
  })}
</div>