---
import { listFileNames, s3File } from "@lib/s3";
const files = await listFileNames("projects/jpeg-degrader/results");
const gifs = files.filter((file) => file?.endsWith(".gif"));
const jpegs = files.filter((file) => file?.match(/\.jpe?g$/i));
import imageSize from "image-size";
---

<div class="flex flex-col items-center not-prose gap-3">
  {
    jpegs.map((img) => {
      return (
        <img
          class="border bg-gray-100"
          src={s3File(img)}
          width={imageSize("../s3/" + img).width}
          height={imageSize("../s3/" + img).height}
        />
      );
    })
  }
  {
    gifs.map((img) => {
      return (
        <img
          class="border bg-gray-100"
          src={s3File(img)}
          width={imageSize("../s3/" + img).width}
          height={imageSize("../s3/" + img).height}
        />
      );
    })
  }
</div>
