---
import Layout from "@layouts/Layout.astro";
import About from "@components/About.astro";
const title = "About";
---

<Layout title={title}>
  <article class="prose lg:prose-xl p-4 md:p-10 ml-auto mr-auto">
    <div class="py-16 ml-auto mr-auto border bg-gray-50 rounded-3xl">
      <About />
    </div>
  </article>
</Layout>
