---
import Layout from "@layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.(md|mdx)");
const title = "Index";
---

<!-- https://docs.astro.build/en/tutorial/5-astro-api/1/ -->
<Layout title={title}>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
    <li>
      <a href="/example">Example</a>
    </li>
    <li>
      <a href="/sdlfkjsdf">404</a>
    </li>
  </ul>
</Layout>