---
import SocialLinks from "./SocialLinks.astro";
import Updated from "./Updated.astro";
---

<footer class="border-t border-gray-200 p-4 text-center text-gray-400 text-xs">
  <ul class="flex justify-center flex-wrap gap-4 mb-4">
    <SocialLinks />
  </ul>
  <a href="/colophon">Colophon</a> • Updated: <Updated />
</footer>
