---
import NavLink from "./NavLink.astro";
---

<nav class="flex items-center pt-3">
  <div class="border-b border-gray-200 flex-grow" />
  <ul class="flex flex-wrap justify-center items-center border rounded-full">
    <li class="font-bold">
      <NavLink href="/" isExact>Mark Miro</NavLink>
    </li>
    <li>
      <NavLink href="/projects">Projects</NavLink>
    </li>
    <li>
      <NavLink href="/posts">Posts</NavLink>
    </li>
    <li>
      <NavLink href="/about">About</NavLink>
    </li>
  </ul>
  <div class="border-b border-gray-200 flex-grow" />
</nav>