---
import clsx from "clsx";
export interface Props {
  align: "left" | "right";
  href?: string;
  title?: string;
}

const { href, title, align } = Astro.props;
---

<a
  href={href}
  class={clsx("p-3 md:text-3xl w-1/2 bg-white group hover:bg-gray-50", {
    "text-gray-300 pointer-events-none": !href,
    "text-left": align === "left",
    "text-right": align === "right",
  })}
>
  <div class="font-bold group-hover:underline">
    <slot />
  </div>
  {title && <div class="text-sm text-gray-500 truncate">{title}</div>}
</a>
