<div class="p-8 lg:p-10">
  <article class="prose prose-sm md:prose-base lg:prose-lg xl:prose-xl ml-auto mr-auto">
    <slot />
  </article>
  <!-- Spacing below post content -->
  <div class="pt-16" />
</div>
