<div class="p-8 lg:p-10">
  <article class="prose prose-sm md:prose-base lg:prose-lg ml-auto mr-auto prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h1:font-bold prose-h2:font-bold prose-h3:font-bold">
    <slot />
  </article>
  <!-- Spacing below post content -->
  <div class="pt-16" />
</div>
