---
import { s3File } from "@/lib/s3";
export interface Props {
  slug?: string;
}

const { slug } = Astro.props;
---

{
  slug && (
    <div class="not-prose aspect-w-2 aspect-h-1 border border-gray-400 rounded-lg bg-gray-50 overflow-hidden shadow-md shadow-gray-300">
      <img
        alt={`Project ${slug} preview image`}
        src={s3File(`figma-export/project-${slug}-1x.png`)}
        srcset={s3File(`figma-export/project-${slug}-2x.png 2x`)}
      />
    </div>
  )
}
