<div class="not-prose aspect-w-2 aspect-h-1">
  <img
    class="border border-gray-500 rounded-lg"
    src={`/figma-export/project-${Astro.props.slug}-1x.png`}
    srcset={`/figma-export/project-${Astro.props.slug}-2x.png 2x`}
  />
</div>