---
import { parseFrontmatterDateRange } from "@lib/parseFrontmatterDateRange";
import { formatDistanceToNow } from "date-fns";

export interface Props {
  date: string;
}

const { date } = Astro.props;

const [_, toDate] = parseFrontmatterDateRange(date);
---

<div class="text-gray-500 text-sm font-normal flex items-center">
  {date}
  <span class="flex-1 border-b mx-2" />
  {formatDistanceToNow(toDate, { addSuffix: true })}
</div>
