---
import { compareFrontmatterDateDesc,extractLastUrlPathItem } from "@/lib/misc";
import PaginationLink from "./PaginationLink.astro";

const allProjects = await Astro.glob<Frontmatter>("../pages/projects/*.mdx");
const sortedProjects = allProjects
  .filter((p) => p.frontmatter?.draft !== true)
  .sort(compareFrontmatterDateDesc);
const slug = extractLastUrlPathItem(Astro.url);

const currentIndex = sortedProjects.findIndex(
  (p) => extractLastUrlPathItem(p.url) === slug
);

const prevProject = sortedProjects[currentIndex - 1];
const nextProject = sortedProjects[currentIndex + 1];
---

<div
  class="flex justify-between sticky bottom-0 border-t border-gray-200 divide-x"
>
  <PaginationLink
    align="left"
    href={prevProject?.url}
    title={prevProject?.frontmatter?.title}
  >
    ← Previous
  </PaginationLink>
  <PaginationLink
    align="right"
    href={nextProject?.url}
    title={nextProject?.frontmatter?.title}
  >
    Next →
  </PaginationLink>
</div>
