---
const allPosts = await Astro.glob("../pages/test/*.(md|mdx)");
const allPosts2 = await Astro.glob("../pages/test/*.astro");
---

<!-- https://docs.astro.build/en/tutorial/5-astro-api/1/ -->
<ul class="flex flex-wrap justify-center border-b border-gray-200">
  <li>
    <a href="/" class="bg-yellow-200 hover:bg-yellow-300">Home</a>
  </li>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
    {
      allPosts2.map((post) => (
        <li>
          <a href={post.url}>{post.url}</a>
        </li>
      ))
    }
  <li>
    <a href="/test/example">Example</a>
  </li>
  <li>
    <a href="/test/nav2">Nav2</a>
  </li>
  <li>
    <a href="/test/url">Url</a>
  </li>
  <li>
    <a href="/test/tech">Tech</a>
  </li>
  <li>
    <a href="/sdlfkjsdf">404</a>
  </li>
</ul>

<style>
  a {
    display: block;
    padding: 1em 1em;
  }
  a:hover {
    /* background: #eee; */
  }
</style>