---
import PostLayout from "@/layouts/PostLayout.astro";
import ProjectsAll from "@/components/ProjectsAll.astro";
---

<PostLayout title="Projects" description="">
  <div class="grid md:grid-cols-2 gap-8">
    <ProjectsAll />
  </div>
</PostLayout>
