---
import ItemLayout from "@/layouts/ItemLayout.astro";
import ProjectsAll from "@/components/ProjectsAll.astro";
---

<ItemLayout title="Projects" description="">
  <div class="not-prose grid md:grid-cols-2 gap-8">
    <ProjectsAll />
  </div>
</ItemLayout>
