---
import { Nav2 } from "@/components/Nav2";
import TestNav from "@/components/TestNav.astro";
import Layout from "@/layouts/Layout.astro";
import TestLayout from "@/layouts/TestLayout.astro";
---
<TestNav />
<div class="p-4">
  <Nav2 client:only />
</div>

